* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  background-image: url(/img/bg.jpg);
  text-align: center;
}

nav li {
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 3em;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}
