body {
  text-align: left;
  padding-top: 1em;
  margin-left: 35em;
  margin-right: 35em;
  margin-bottom: 1em;
  background-image: url(/img/bg.jpg);
}

main {
  background-color: white;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  padding: 2em;
}

nav ul li {
  display: inline-block;
}

nav {
  text-align: center;
  padding: 10px;
}

a:link,
a:visited {
  color: #662200;
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  color: #331a00;
  text-decoration: underline;
}

a:active {
  text-decoration: overline;
}

h1 {
  font-size: xxx-large;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

h2 {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bolder;
  font-size: small;
  text-transform: uppercase;
}

h3 {
  font-family: "Tinos", serif;
  font-weight: normal;
}
