* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(/img/bg.jpg);
}

body {
  text-align: justify;
  padding-top: 1em;
  margin-left: 30em;
  margin-right: 30em;
  margin-bottom: 1em;
}

nav li {
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 3em;
}

a:link,
a:visited {
  color: #662200;
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  color: #331a00;
  text-decoration: underline;
}

a:active {
  text-decoration: overline;
}

h1 {
  font-size: xxx-large;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

h2 {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bolder;
  font-size: small;
  text-transform: uppercase;
}

h3 {
  font-family: "Tinos", serif;
  font-weight: normal;
}
